extends layout

block content
	.container
		h1 People of
		img(src="http://www.ishtarsociety.org/wp-content/uploads/2012/01/Walmart-Logo.jpg" height="100px")
		h1 What is REALLY going on???? 
		h3 So the government really is working on genetic mixing of species...
		//- h2 "You can add your own photos and/or captions!"
		

		img#first-image.img(src="http://1000funnypictures.com/wp-content/uploads/People-of-Walmart-Part-22-Pics-14.jpg")
	
	.container
		button#captionButton1 Caption

		//- img#second-image.img(src="http://www.peopleofwalmart.com/wp-content/uploads/2014/12/139.jpg")
		img#third-image.img(src="http://d236bkdxj385sg.cloudfront.net/wp-content/uploads/2014/04/Red.jpg")
		button#captionButton2 Caption

		img#fourth-image.img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTyhUrvArTbVyMqalHd_Ops7j9n_HArVbyrBSrnzMnzvkW36PAT")
		button#captionButton3 Caption

		img#fifth-image.img(src="http://weknowmemes.com/wp-content/uploads/2013/10/johnny-bravos-grandpa-2.jpg")
		button#captionButton4 Caption
		
		button#addButton Photo