extends layout

block content
	h1 People of Walmart
	h3 "I saved $2, but lost my innocence and my appetite."
	button#addButton Click here to add a new pic!

	img#first-image.img(src="http://1000funnypictures.com/wp-content/uploads/People-of-Walmart-Part-22-Pics-14.jpg")
	img#second-image.img(src="http://www.peopleofwalmart.com/wp-content/uploads/2014/12/139.jpg")
	img#third-image.img(src="http://d236bkdxj385sg.cloudfront.net/wp-content/uploads/2014/04/Red.jpg")
	img#fourth-image.img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTyhUrvArTbVyMqalHd_Ops7j9n_HArVbyrBSrnzMnzvkW36PAT")
	img#fifth-image.img(src="http://weknowmemes.com/wp-content/uploads/2013/10/johnny-bravos-grandpa-2.jpg")
	