doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title People of WalMart!
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/shepherd-theme-square-dark.css")
		link(rel="stylesheet", href="css/styles.css")


	body
		block content
	
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="js/tether.min.js")
		script(src="js/shepherd.min.js")
		script(src="js/main.js")
