doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", href="/tether-shepherd/dist/css/shepherd-theme-arrows.css")
		link(rel="stylesheet", href="main.css")


	body
		block content

	script(src="tether-shepherd/node_modules/tether/dist/js/tether.min.js")
	script(src="tether-shepherd/dist/js/shepherd.min.js")
	script(src="main.js")
