body {
  text-align: center;
  background-color: rgb(26,117,207);
}

.container {
	/*background-color: rgb(253,187,48);*/
	background-color: white;
}

.container h1 {
	display: inline-block;
}

.img {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#addButton {
	display: block;
	background-color: green;
	margin-bottom: 50px;
}